go 1.23.4

use (
	./backend/microservices/feeds
	./backend/microservices/followships
	./backend/microservices/posts
	./backend/microservices/profiles
	./backend/microservices/users

	./backend/shared

	./tools/kue
)
